#accordionSidebar{
	background: midnightblue;
}


#body_login{
	background: midnightblue;
}

h1, h2, h3{
	color: midnightblue !important;
}

.btn-primary{
background: midnightblue !important;
}

.btn-outline-secondary{
	
	background: midnightblue !important;
}