 #sortable { 
        list-style-type: none; 
        margin: 0; 
        padding: 0; 
        width: 60%; 
    }

    #sortable li { 
        margin: 5px 5px 5px 5px;
        border:  1px solid #ccc!important;
        padding: 10px;
        font-size: 1.2em;
    }
    
    .form_param{
        width: 200px;
    }

    .cont_inpt{
        margin-left: 10px;
    }

    #datos_parametros{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
    }

    #div_fechas{
        margin: 5px;
    }
    
    .list_partidos{
        display: flex;
        flex-wrap: wrap;
        width: 100% !important;
    }

    .sortable-list {
        width: 425px;
        padding: 25px;
        background: #fff;
        border-radius: 7px;
        padding: 30px 25px 20px;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    }

    .div_fase_grupos{
        display: grid;
        grid-template-columns: 20% 80%;
    }

    #div_cont_fechas{
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-bottom: 7px;
        padding: 7px;
    }

    #div_cont_fechas .item{
        border: none;
        margin-bottom: 0px;
    }

    #div_fechas{
        width: 400px;
    }

    .div_fechas_grupos{
        width: 100%;
    }

    #div_fechas img {
        border-radius : 0px !important;
        object-fit: contain;
    }


    #div_cont_fechas .form-control{
        margin: 5px;
        width: 50%;
    }

    .sortable-list .item {
        list-style: none;
        display: flex;
        cursor: move;
        background: #fff;
        align-items: center;
        border-radius: 5px;
        padding: 10px 13px;
        margin-bottom: 11px;
        /* box-shadow: 0 2px 4px rgba(0,0,0,0.06); */
        border: 1px solid #ccc;
        justify-content: space-between;
    }

    .item .details {
        display: flex;
        align-items: center;
    }

    .item .details img {
        height: 100%
        pointer-events: none;
        margin-right: 12px;
        object-fit: cover;
    }

    .item .details span {
        font-size: 1.13rem;
    }

    .item i {
        color: #474747;
        font-size: 1.13rem;
    }

    .item.dragging {
        opacity: 0.6;
    }
    
    .item.dragging :where(.details, i) {
        opacity: 0;
    }

  .div_con_img{
        width: 50px;
    }

.div_con_img img{
        width: 100%;

    }